# 4-1 이분검색
### my solution
#### score : 100

In [1]:
import sys
#sys.stdin = open("input.txt", 'r')
n , m = map(int, input().split())
list1 = list(map(int, input().split()))
list1 = sorted(list1)
print( list1.index(m) +1 )

8 32
23 87 65 12 57 32 99 81

# 4-2 랜선자르기
### my solution
#### score : 100

In [13]:
import sys
#sys.stdin = open("input.txt", 'r')
n , m = map(int, input().split())
a=[list(map(int, input().split())) for _ in range(n)]

list1 = []
for element in a :
    list1.append(element[0])

value= min(list1)
list2 = []
count = 0 
while count <= m  :
    count = 0
    for element in list1 :
        count += element//value
    if count == m :
        list2.append(value)
        value -= 1
    else : 
        value-= 1
    
print( list2[0] )

4 11
802
743
457
539

In [49]:
import sys
#sys.stdin = open("input.txt", 'r')
n , m = map(int, input().split())
list1 = [int(input()) for _ in range(n)]

5 10
273
401
753
345
105

In [53]:
value = 1 
count = sum(list1)
list2 = []
while count >= m :
    count = 0 
    for element in list1 :
        count += element//value 
    if count == m :
        list2.append(value)
        value += 1
    else : value += 1 
print(list2[-1] )

150

In [35]:
list1

[802, 743, 457, 539]

In [39]:
802//min(list1)

1

In [46]:
value= min(list1)
list2 = []
count= 0
while count <= m  :
    count = 0
    for element in list1 :
        count += element//value
    if count == m :
        list2.append(value)
        value -= 1
    else : 
        value -= 1 
list2

[200, 199, 198, 197, 196, 195, 194, 193, 192, 191, 190, 189, 188, 187, 186]

In [29]:
value= min(list1)
while count <= m  :
    count = 0
    for element in list1 :
        count += element//value
    if count == m :
        print(value)
        break
    else : 
        value-= 1

# 4-3 뮤직비디오(결정알고리즘)

### my solution
#### score : 100

In [3]:
import sys
#sys.stdin = open("input.txt", 'r')
n ,m = map(int, input().split())
list1 = list(map(int, input().split()))

9 3
1 2 3 4 5 6 7 8 9

In [4]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
max_value = max(list1)

In [6]:
def Count(capacity) : 
    # capacity : 용량 // cnt : dvd개수 
    cnt = 1
    temp_sum = 0
    for x in list1:
        if temp_sum + x > capacity :
            cnt += 1
            temp_sum = x
        else :
            temp_sum += x 
    return cnt

In [7]:
lt = 1 # 최소용량
rt = sum(list1) # 최대용량 
# 용량을 변겅하면서 담을수 있나 확인 
res = 0 

while lt <= rt :
    mid = (lt + rt)//2
    if mid >= max_value and Count(mid) <= m 
        res = mid
        rt = mid -1
    else :
        lt = mid +1 
print(res)

8

In [10]:
Count(16)

4

# 4-4 마구간 정하기
### my solution
#### score : 100

In [11]:
import sys
#sys.stdin = open("input.txt", 'r')
n , m = map(int, input().split())
list1 = [int(input()) for _ in range(n)]
list1 = sorted(list1)
def min_distance(x) :
    distance_old = max(x) - min(x)
    for i in range(0,len(x)-1) :
        distance_new = x[i+1] - x[i]
        if distance_new <= distance_old  :
            distance_old = distance_new
    return distance_old


def comb(lst,n):
    ret = []
    if n > len(lst): return ret
    
    if n == 1:
        for i in lst:
            ret.append([i])
    elif n>1:
        for i in range(len(lst)-n+1):
            for temp in comb(lst[i+1:],n-1):
                ret.append([lst[i]]+temp)

    
    return ret


ans_old = 1
for i in comb(list1,m):
    ans_new = min_distance(i)
    if ans_new == 1 :continue 
    if ans_new >= ans_old :
        ans_old = ans_new
print(ans_old)

5 3
1
2
8
4
9

# 4-5 회의실 배정
### my solution
#### score : 100

In [65]:
import sys
#sys.stdin = open("input.txt", 'r')
n  = int(input())
a=[list(map(int, input().split())) for _ in range(n)]

5
1 4
2 3
3 5
4 6
5 7

In [66]:
a

[[1, 4], [2, 3], [3, 5], [4, 6], [5, 7]]

In [72]:
res_list = []
for reservation in a: 
    time_table = [0] * 24
    start, finish = reservation[0] , reservation[1] 
    for i in list(range(start,finish)) :
        time_table[i] = 1
    res_list.append(time_table)
res_list

[[0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

[0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

# 4-6 씨름선수
### my solution
#### score : 100

In [83]:
import sys
#sys.stdin = open("input.txt", 'r')
n = int(input())
temp_list = []
for i in range(n):
    h, w = map(int,input().split())
    temp_list.append((h,w))
temp_list.sort(reverse=True)
cnt = 0
first = 0
for h, w in temp_list :
    if w> first :
        first = w
        cnt += 1
print(cnt)

5
172 67
183 65
180 70
170 72
181 60

In [89]:
temp_list.sort(reverse=True)
temp_list

[(183, 65), (181, 60), (180, 70), (172, 67), (170, 72)]

In [90]:
cnt = 0
first = 0
for h, w in temp_list :
    if w> first :
        first = w
        cnt += 1
print(cnt)

3

# 4-7 창고 정리
### my solution
#### score : 100

In [78]:
import sys
#sys.stdin = open("input.txt", 'r')
L = int(input())
list1 = list(map(int, input().split()))
m = int(input())

def rearrange(x , m) :
    for _ in range(m) :
        max_idx = x.index(max(x))
        min_idx = x.index(min(x))
        x[max_idx] = x[max_idx] - 1
        x[min_idx] = x[min_idx] + 1 
    return max(x) - min(x)

print(rearrange(list1,m))

10
69 42 68 76 40 87 14 65 76 81
50

# 4-8 침몰하는 타이타닉
### my solution
#### score : 100

In [103]:
import sys
#sys.stdin = open("input.txt", 'r')
n , m = map(int, input().split()) 
list1 = list(map(int, input().split()))

5 140
90 50 70 100 60

In [104]:
list1

[90, 50, 70, 100, 60]

# 4-9 증가수열 만들기
### my solution
#### score : 100

In [139]:
import sys
#sys.stdin = open("input.txt", 'r')
n = int(input())
list1 = list(map(int, input().split()))

5
2 4 5 1 3

In [229]:
list1 = [2,4,5,1,3]

In [230]:
len_list = [0]
d_list = []
for _ in range(n) :
    value = min(list1[0], list1[-1] )
    if value < len_list[-1] :
        continue
    len_list.append(value)
    if value == list1[0] : 
        d_list.append('L')
        list1.pop(0)
    else : 
        d_list.append('R')
        list1.pop(-1)

In [231]:
len_list

[0, 2, 3]

In [91]:
import sys
#sys.stdin = open("input.txt", 'r')
n = int(input())
list1 = list(map(int, input().split()))

5
2 4 5 1 3

In [97]:
idx_1 = 0
idx_2 = n-1
latest = 0
d_list=[]
len_list = []
while idx_1 <= idx_2 :
    if list1[idx_1] > latest :
        len_list.append((list1[idx_1],'L'))
       # d_list.append('L')
    if list1[idx_2] > latest :
        len_list.append((list1[idx_2],'R'))
        #d_list.append('R')
    len_list.sort()
    if len_list == [] :
        break 
    else :
        latest = len_list[0][0]
        d_list.append(len_list[0][1])
        if len_list[0][1] == 'L' :
            idx_1 += 1
        else : idx_2 -= 1
    len_list = []
print(len(d_list))
for i in d_list :
    print(i, end='')

4
LRLL

In [96]:
for i in d_list :
    print(i, end='')

LRLL

# 4-10 역수열
### my solution
#### score : 100

In [98]:
import sys
#sys.stdin = open("input.txt", 'r')
n = int(input())
list1 = list(map(int, input().split()))

8
5 3 4 0 2 1 1 0

In [107]:
for i in range(1,n+1) :
    a = list1[i-1]
    v = list(  range(i+1, i+a+1 ) )
    print(i, a ,v )

1 5 [2, 3, 4, 5, 6]
2 3 [3, 4, 5]
3 4 [4, 5, 6, 7]
4 0 []
5 2 [6, 7]
6 1 [7]
7 1 [8]
8 0 []

In [111]:
for idx , i in enumerate(list1) :
    print(idx+1, i)

1 5
2 3
3 4
4 0
5 2
6 1
7 1
8 0

In [130]:
ans_list = [0] * n
idx_1 = -1
for idx, value in enumerate(list1) :
    idx_1 =+1
    for i in ans_list[:value + idx_1] :
        if i > idx+1 :
            value -= 1
    ans_list[value]= idx +1 
    print(ans_list)

[0, 0, 0, 0, 0, 1, 0, 0]
[0, 0, 0, 2, 0, 1, 0, 0]
[0, 0, 0, 2, 3, 1, 0, 0]
[4, 0, 0, 2, 3, 1, 0, 0]
[4, 0, 5, 2, 3, 1, 0, 0]
[4, 6, 5, 2, 3, 1, 0, 0]
[4, 7, 5, 2, 3, 1, 0, 0]
[8, 7, 5, 2, 3, 1, 0, 0]

In [117]:
ans_list = [n+1] * n
ans_list

[9, 9, 9, 9, 9, 9, 9, 9]